{% extends "Frontend/base.html" %}

{% block content %}
<!-- Inner Page Banner Area Start Here -->
<div class="inner-page-banner-area" style="background-image: url('/static/img/homepage/home_banner.jpg');">
    <div class="container">
        <div class="pagination-area">
            <h1>Facilities</h1>
            <ul>
                <li><a href="/">Home</a> -</li>
                <li>Facilities</li>
            </ul>
        </div>
    </div>
</div>
<!-- Inner Page Banner Area End Here -->

{% comment %} facilities  {% endcomment %}
<section class="facilities">
    <div class="container about-page1-area">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-12">
                <div class="card facility-box">
                    <div class="card-cover">
                    </div>
                    <img class="card-image"
                         src="/static/img/homepage/hostel.webp"/>
                    <div class="card-body">
                      <h3 class="item-title text-white"><b>Hostel Facilities</b></h3>
                      <p>The Learning Tree Academy’s Hostel rooms are comfortably-furnished and make for a good home away from home. Girls and boys have separate blocks and each block has a fixed capacity. There is a range of accommodation options to choose from, for students’ convenience.</p>
                      <p>In this kind of accommodation, students have access to hostel canteen, aqua guard for hot, cold and normal drinking water and other leisure/sports activities within the hostel premises.</p>
                    </div>
                  </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
                <div class="card facility-box">
                    <div class="card-cover">
                    </div>
                    <img class="card-image"
                    src="/static/img/homepage/library.webp"/>
                    <div class="card-body">
                      <h3 class="item-title text-white"><b>Library</b></h3>
                      <p>The library is enriched with classics and contemporary books for student to develop good reading habits and at the same time to refer to enhance their knowledge and awareness. The library also has levelled digital content for students of all classes. The school subscribes to a substantial number of newspapers and magazines suitable for students to develop reading habit in them and develop their situational awareness.</p>
                    </div>
                  </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
                <div class="card facility-box">
                    <div class="card-cover">
                    </div>
                    <img class="card-image"
                    src="/static/img/homepage/computerlab.webp"/>
                    <div class="card-body">
                      <h3 class="item-title text-white"><b>Computer Lab</b></h3>
                      <p>The Computer Lab is supported with high-speed central servers and the latest educational software that includes adequate security and safety features.</p>
                      <p>Every student has access to a terminal in the lab. We also educate children about personal safety while using social media to ensure they are fully familiar with the health and social risks involved with internet access.</p>
                    </div>
                  </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
                <div class="card facility-box">
                    <div class="card-cover">
                    </div>
                    <img class="card-image"
                    src="/static/img/homepage/sports.webp"/>
                    <div class="card-body">
                      <h3 class="item-title text-white"><b>Sports</b></h3>
                      <p>Participating in outdoor sports increases confidence, enhances physical and mental ability, precision, and self-esteem amongst students. At Learning Tree Academy, the outdoor sports include Cricket, Football, Badminton and Basketball. We also encourage our students to take interest in playing indoor games such as Chess, Charades and Word-Puzzles which helps students to develop key social skills like team-spirit and leadership.</p>
                    </div>
                  </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
                <div class="card facility-box">
                    <div class="card-cover">
                    </div>
                    <img class="card-image"
                    src="/static/img/homepage/arts.webp"/>
                    <div class="card-body">
                      <h3 class="item-title text-white"><b>Art and Craft</b></h3>
                      <p>Art and Craft enable students to learn and understand learn that art is an expression of creativity. It will help them to develop an appreciation for various art forms and value the cultural history of the nation. It further enables them to reflect critically on their own work and develop their own unique ways of expression. Being creative in any skill makes the students attentive learners as they focus on the minute details while drawing, painting, creating rangoli patterns or doodling.</p>
                    </div>
                  </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
                <div class="card facility-box">
                    <div class="card-cover">
                    </div>
                    <img class="card-image"
                    src="/static/img/homepage/medicalfacility.webp"/>
                    <div class="card-body">
                      <h3 class="item-title text-white"><b>Medical Facilities - Infirmary and First Aid</b></h3>
                      <p>The school has a first aid facility. Additionally, regular medical check-up for the entire school is mapped into the calendar and the reports of any medical
                        examination will be sent to the parents of students who require special treatment.</p>
                    </div>
                  </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
                <div class="card facility-box">
                    <div class="card-cover">
                    </div>
                    <img class="card-image"
                    src="/static/img/homepage/cctv.webp"/>
                    <div class="card-body">
                      <h3 class="item-title text-white"><b>CCTV Secured Campus</b></h3>
                      <p>To monitor and safeguard the wellbeing of the students and school staff and to discourage any misbehaviour, security cameras are installed at an appropriate location on the school campus. It is an important tool to ensure safety in the school premises. The broadcasted footage will be monitored regularly by the school administration team.</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
