{% extends "Frontend/base.html" %}

{% block content %}
<!-- Inner Page Banner Area Start Here -->
<div class="inner-page-banner-area" style="background-image: url('/static/img/homepage/home_banner.jpg');">
    <div class="container">
        <div class="pagination-area">
            <h1>Gallery</h1>
            <ul>
                <li><a href="/">Home</a> -</li>
                <li>Gallery</li>
            </ul>
        </div>
    </div>
</div>


<div class="gallery-area2">
    <div class="container" id="inner-isotope">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="isotop-classes-tab isotop-btn">
                    <a href="#" data-filter="*" class="current">All</a>
                    <a href="#" data-filter=".lab" class=""> lab</a>
                    <a href="#" data-filter=".infra" class="">Infrastructure</a>
                    <a href="#" data-filter=".activity" class="">Activities</a>
                    <a href="#" data-filter=".campus" class="">Campus</a>
                    <a href="#" data-filter=".transportation" class="">Transportation</a>
                    <a href="#" data-filter=".event" class="">Events</a>
                </div>
            </div>
        </div>
        <div class="row featuredContainer gallery-wrapper lt-gallery" style="position: relative; height: 4100.1px;">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 lab" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/static/img/gallery/lab-1.webp" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/static/img/gallery/lab-1.webp" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 lab" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/static/img/gallery/lab-2.webp" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/static/img/gallery/lab-2.webp" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 lab" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/static/img/gallery/lab-3.webp" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/static/img/gallery/lab-3.webp" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 lab" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/static/img/gallery/lab-4.webp" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/static/img/gallery/lab-4.webp" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 lab" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/static/img/gallery/lab-5.webp" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/static/img/gallery/lab-5.webp" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 lab" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/static/img/gallery/lab-6.webp" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/static/img/gallery/lab-6.webp" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 infra" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/static/img/gallery/infra-1.webp" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/static/img/gallery/infra-1.webp" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 infra" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/static/img/gallery/infra-2.webp" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/static/img/gallery/infra-2.webp" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 infra" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/static/img/gallery/infra-3.webp" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/static/img/gallery/infra-3.webp" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 infra" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/static/img/gallery/infra-4.webp" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/static/img/gallery/infra-4.webp" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 infra" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/static/img/gallery/infra-5.webp" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/static/img/gallery/infra-5.webp" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 infra" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/static/img/gallery/infra-6.webp" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/static/img/gallery/infra-6.webp" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 infra" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/static/img/gallery/infra-7.webp" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/static/img/gallery/infra-7.webp" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 infra" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/static/img/gallery/infra-8.webp" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/static/img/gallery/infra-8.webp" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 activity" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/static/img/gallery/act-1.webp" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/static/img/gallery/act-1.webp" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 activity" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/static/img/gallery/act-2.webp" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/static/img/gallery/act-2.webp" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 activity" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/static/img/gallery/act-3.webp" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/static/img/gallery/act-3.webp" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 activity" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/static/img/gallery/act-4.webp" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/static/img/gallery/act-4.webp" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 activity" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/static/img/gallery/act-5.webp" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/static/img/gallery/act-5.webp" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 activity" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/static/img/gallery/act-6.webp" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/static/img/gallery/act-6.webp" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 activity" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/static/img/gallery/act-7.webp" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/static/img/gallery/act-7.webp" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 activity" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/static/img/gallery/act-8.webp" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/static/img/gallery/act-8.webp" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 activity" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/static/img/gallery/act-9.webp" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/static/img/gallery/act-9.webp" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 activity" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/static/img/gallery/act-10.webp" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/static/img/gallery/act-10.webp" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 activity" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/static/img/gallery/act-11.webp" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/static/img/gallery/act-11.webp" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 campus" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/static/img/gallery/camp-1.webp" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/static/img/gallery/camp-1.webp" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 campus" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/static/img/gallery/camp-2.webp" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/static/img/gallery/camp-2.webp" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 campus" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/static/img/gallery/camp-3.webp" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/static/img/gallery/camp-3.webp" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 campus" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/static/img/gallery/camp-4.webp" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/static/img/gallery/camp-4.webp" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 campus" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/static/img/gallery/camp-5.webp" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/static/img/gallery/camp-5.webp" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 campus" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/static/img/gallery/camp-6.webp" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/static/img/gallery/camp-6.webp" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 transportation" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/static/img/gallery/trans-1.webp" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/static/img/gallery/trans-1.webp" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 transportation" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/static/img/gallery/trans-2.webp" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/static/img/gallery/trans-2.webp" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 transportation" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/static/img/gallery/trans-3.webp" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/static/img/gallery/trans-3.webp" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 transportation" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/static/img/gallery/trans-4.webp" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/static/img/gallery/trans-4.webp" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 transportation" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/static/img/gallery/trans-5.webp" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/static/img/gallery/trans-5.webp" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 transportation" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/static/img/gallery/trans-6.webp" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/static/img/gallery/trans-6.webp" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 transportation" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/static/img/gallery/trans-7.webp" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/static/img/gallery/trans-7.webp" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 transportation" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/static/img/gallery/trans-8.webp" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/static/img/gallery/trans-8.webp" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 transportation" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/static/img/gallery/trans-9.webp" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/static/img/gallery/trans-9.webp" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            {% for n in galleryData %}
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 {{n.gallery_tag}}" style="position: absolute; left: 0px; top: 0px;">
                <div class="gallery-box">
                    <img src="/media/{{n.gallery_image}}" class="img-responsive" alt="gallery">
                    <div class="gallery-content">
                        <a href="/media/{{n.gallery_image}}" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}