
{% extends "Frontend/base.html" %} 

{% comment %} {% include "Frontend/include/header.html"  %} {% endcomment %}

{% block content %}

<div class="slider1-area overlay-default">
    <div class="bend niceties preview-1">
        <div id="ensign-nivoslider-3" class="slides">
            <img src="/static/img/homepage/home_banner_1.webp" alt="slider" title="#slider-direction-1" />
            
        </div>
        <div id="slider-direction-1" class="t-cn slider-direction">
            <div class="slider-content s-tb slide-1">
                <div class="title-container s-tb-c">
                    <div class="title1">“Your Kids Deserve<br>The <span class="banner-big-title">Best Education</span> ”</div>
                    <p>Emply dummy text of the printing and typesetting industry orem Ipsum has been the industry's standard
                        <br>dummy text ever sinceprinting and typesetting industry. </p>
                    <div class="slider-btn-area">
                        <a href="#" class="default-big-btn">Start a Course</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="slider-direction-2" class="t-cn slider-direction">
            <div class="slider-content s-tb slide-2">
                <div class="title-container s-tb-c">
                    <div class="title1">Best Education For HTML Template</div>
                    <p>Emply dummy text of the printing and typesetting industry orem Ipsum has been the industry's standard
                        <br>dummy text ever sinceprinting and typesetting industry. </p>
                    <div class="slider-btn-area">
                        <a href="#" class="default-big-btn">Start a Course</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="slider-direction-3" class="t-cn slider-direction">
            <div class="slider-content s-tb slide-3">
                <div class="title-container s-tb-c">
                    <div class="title1">Best Education Into PHP</div>
                    <p>Emply dummy text of the printing and typesetting industry orem Ipsum has been the industry's standard
                        <br>dummy text ever sinceprinting and typesetting industry. </p>
                    <div class="slider-btn-area">
                        <a href="#" class="default-big-btn">Start a Course</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 <!-- About Page 1 Area Start Here -->
 <div class="about-page1-area">
    <div class="container">
        <div class="row about-page1-inner align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="about-page-content-holder">
                    <div class="content-box">
                        <h2>About Learning Tree Academy</h2>
                        <p>At Learning Tree Academy, we aim to follow an educational system which facilitates all-round growth of a child s personality. We impart education as envisioned by the Board of Directors of the School, who are personally linked to the institution on more levels than one. We aim to build a holistic personality a personality that creates a harmonious balance of the different elements that constitute our being our body, our thoughts, our feelings and impulses, our inspiration and our seeking.</p>
                        <a href="#" class="ghost-btn">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="about-page-img-holder">
                    <img src="/static/img/homepage/home_about.webp" class="img-responsive left-radius" alt="about">
                    <div class="about_shrt_container">
                        <div class="ab-overlay">
                            <h3 class="m-0 text-white"><b>About</b></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Page 1 Area End Here -->

 <!-- Featured Area Start Here -->
 <div class="featured-area bg-common-style recent-update p-0">
    <div class="lecturers-area">
        <div class="container">
            <h2 class="title-default-left text-white">Recent Update</h2>
        </div>
        <div class="container">
            <div class="rc-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="true" data-autoplay-timeout="10000" data-smart-speed="2000" data-dots="false" data-nav="true" data-nav-speed="false" data-r-x-small="1" data-r-x-small-nav="true"
                data-r-x-small-dots="false" data-r-x-medium="1" data-r-x-medium-nav="true" data-r-x-medium-dots="false" data-r-small="1" data-r-small-nav="true" data-r-small-dots="false" data-r-medium="2" data-r-medium-nav="true" data-r-medium-dots="false"
                data-r-large="3" data-r-large-nav="true" data-r-large-dots="false">
                <div class="single-item">
                    <div class="lecturers1-item-wrapper">
                        <div class="lecturers-img-wrapper">
                            <a href="#"><img class="img-responsive recent_update_img" src="/static/img/homepage/img___1.webp" alt="recent_update"></a>
                        </div>
                        <div class="lecturers-content-wrapper">
                            <h3 class="item-title text-white"><a href="#">Join Quiz and Painting Competition.</a></h3>
                            <span class="item-designation">Get ready to win exciting prizes !! Now it is your chance to win exciting prizes. Join quiz and painting competition for students bellow 7th class. Join gift hampers and exciting prizes</span>
                            <div class="view-all-btn-area">
                                <a href="#" class="ghost-btn-big">Know More</a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="single-item">
                    <div class="lecturers1-item-wrapper">
                        <div class="lecturers-img-wrapper">
                            <a href="#"><img class="img-responsive recent_update_img" src="/static/img/homepage/img2.webp" alt="recent_update"></a>
                        </div>
                       <div class="lecturers-content-wrapper">
                            <h3 class="item-title text-white"><a href="#">Principal Required</a></h3>
                            <span class="item-designation">Principal Required for Learning Tree Academy. Qualified, Trained, and Experienced, working as a principal, vice-principal, or equivalent position in a CBSE school. In addition to fluent English, communication in Odia is preferred</span>
                            <div class="view-all-btn-area">
                                <a href="#" class="ghost-btn-big">Know More</a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="single-item">
                    <div class="lecturers1-item-wrapper">
                        <div class="lecturers-img-wrapper">
                            <a href="#"><img class="img-responsive recent_update_img" src="/static/img/homepage/img3.webp" alt="recent_update"></a>
                        </div>
                        <div class="lecturers-content-wrapper">
                            <h3 class="item-title text-white"><a href="#">Teachers Required</a></h3>
                            <span class="item-designation">Teachers Required for the Academic Session 2022-23 Qualified, Trained and Experienced Teachers with Fluency in English are required for the Following Post and Grades.</span>
                            <div class="view-all-btn-area">
                                <a href="#" class="ghost-btn-big">Know More</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featured Area End Here -->


<div class="publications-area">
    <div class="container">
        <h2 class="title-default-left">School Facilities</h2>
    </div>
    <div class="container">
        <div class="rc-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="true" data-autoplay-timeout="10000" data-smart-speed="2000" data-dots="false" data-nav="true" data-nav-speed="false" data-r-x-small="1" data-r-x-small-nav="true"
            data-r-x-small-dots="false" data-r-x-medium="2" data-r-x-medium-nav="true" data-r-x-medium-dots="false" data-r-small="3" data-r-small-nav="true" data-r-small-dots="false" data-r-medium="3" data-r-medium-nav="true" data-r-medium-dots="false"
            data-r-large="3" data-r-large-nav="true" data-r-large-dots="false">
            <div class="single-item">
                <div class="single-item-wrapper">
                    <div class="publications-img-wrapper">
                        <a href="#"><img class="img-responsive border-left-side" src="/static/img/homepage/hostel.webp" alt="product"></a>
                    </div>
                    <div class="publications-content-wrapper">
                        <h3 class="item-title facility-title-box"><a href="#">Hostel</a></h3>
                    </div>
                </div>
            </div>
            <div class="single-item">
                <div class="single-item-wrapper">
                    <div class="publications-img-wrapper">
                        <a href="#"><img class="img-responsive border-right-side" src="/static/img/homepage/computerlab.webp" alt="product"></a>
                    </div>
                    <div class="publications-content-wrapper">
                        <h3 class="item-title facility-title-box"><a href="#">Computer Lab</a></h3>
                    </div>
                </div>
            </div>
            <div class="single-item">
                <div class="single-item-wrapper">
                    <div class="publications-img-wrapper">
                        <a href="#"><img class="img-responsive border-left-side" src="/static/img/homepage/medicalfacility.webp" alt="product"></a>
                    </div>
                    <div class="publications-content-wrapper">
                        <h3 class="item-title facility-title-box"><a href="#">Medical Facilities</a></h3>
                    </div>
                </div>
            </div>
            <div class="single-item">
                <div class="single-item-wrapper">
                    <div class="publications-img-wrapper">
                        <a href="#"><img class="img-responsive border-right-side" src="/static/img/homepage/arts.webp" alt="product"></a>
                    </div>
                    <div class="publications-content-wrapper">
                        <h3 class="item-title facility-title-box"><a href="#">Art and Craft</a></h3>
                    </div>
                </div>
            </div>
            <div class="single-item">
                <div class="single-item-wrapper">
                    <div class="publications-img-wrapper">
                        <a href="#"><img class="img-responsive border-left-side" src="/static/img/homepage/sports.webp" alt="product"></a>
                    </div>
                    <div class="publications-content-wrapper">
                        <h3 class="item-title facility-title-box"><a href="#">Sports</a></h3>
                    </div>
                </div>
            </div>
            <div class="single-item">
                <div class="single-item-wrapper">
                    <div class="publications-img-wrapper">
                        <a href="#"><img class="img-responsive border-right-side" src="/static/img/homepage/cctv.webp" alt="product"></a>
                    </div>
                    <div class="publications-content-wrapper">
                        <h3 class="item-title facility-title-box"><a href="#">CCTV Secured Campus</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="counter-area apply_wrapper bg-primary-deep" style="background-image: url('/static/img/homepage/admission_bg.webp');">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="content-box apply-admission-box text-left">
                    <h2 class="title-default-left normal-title text-white">Apply for Admission</h2>
                    <h6 class=" text-white">2023 applications are now open</h6>
                    <p class="text-white">We don’t just give students an education and experiences
                        that set them up for success in a career. We help them succeed
                        in their career—to discover a field they’re passionate about and
                        dare to lead it.</p>
                        <div class="apply-btn-area">
                            <a href="/static/admission-enquiry" class="apply-now-btn">Apply Now</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="students-say-area">
    <h2 class="title-default-center">Testimonials</h2>
    <div class="container">
        <div class="rc-carousel" data-loop="true" data-items="2" data-margin="30" data-autoplay="true" data-autoplay-timeout="10000" data-smart-speed="2000" data-dots="true" data-nav="false" data-nav-speed="false" data-r-x-small="1" data-r-x-small-nav="false" data-r-x-small-dots="true" data-r-x-medium="2" data-r-x-medium-nav="false" data-r-x-medium-dots="true" data-r-small="2" data-r-small-nav="false" data-r-small-dots="true" data-r-medium="2" data-r-medium-nav="false" data-r-medium-dots="true" data-r-large="2" data-r-large-nav="false" data-r-large-dots="true">
            <div class="single-item">
                <div class="single-item-wrapper">
                    <div class="profile-img-wrapper">
                        <a href="#" class="profile-img"><img class="profile-img-responsive img-circle" src="/static/img/homepage/profile_avtar.png" alt="Testimonial"></a>
                    </div>
                    <div class="tlp-tm-content-wrapper">
                        <h3 class="item-title"><a href="#">Jayaprakash Sahoo</a></h3>
                        <span class="item-designation">10th student</span>
                        <ul class="rating-wrapper">
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        </ul>
                        <div class="item-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non deleniti nam optio, aliquam id odio sapiente ducimus nobis atque voluptatem debitis dolor doloribus officiis eos itaque quibusdam voluptatum eaque eius!</div>
                    </div>
                </div>
            </div>
            <div class="single-item">
                <div class="single-item-wrapper">
                    <div class="profile-img-wrapper">
                        <a href="#" class="profile-img"><img class="profile-img-responsive img-circle" src="/static/img/homepage/profile_avtar.png" alt="Testimonial"></a>
                    </div>
                    <div class="tlp-tm-content-wrapper">
                        <h3 class="item-title"><a href="#">Jayaprakash Sahoo</a></h3>
                        <span class="item-designation">10th student</span>
                        <ul class="rating-wrapper">
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        </ul>
                        <div class="item-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet assumenda ea quam sint, aspernatur autem fugiat, culpa modi voluptatibus debitis minus vitae nisi nemo harum voluptate reiciendis neque magni nihil.</div>
                    </div>
                </div>
            </div>
            <div class="single-item">
                <div class="single-item-wrapper">
                    <div class="profile-img-wrapper">
                        <a href="#" class="profile-img"><img class="profile-img-responsive img-circle" src="{/static/img/homepage/profile_avtar.png" alt="Testimonial"></a>
                    </div>
                    <div class="tlp-tm-content-wrapper">
                        <h3 class="item-title"><a href="#">Jayaprakash Sahoo</a></h3>
                        <span class="item-designation">10th student</span>
                        <ul class="rating-wrapper">
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        </ul>
                        <div class="item-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet assumenda ea quam sint, aspernatur autem fugiat, culpa modi voluptatibus debitis minus vitae nisi nemo harum voluptate reiciendis neque magni nihil.</div>
                    </div>
                </div>
            </div>
            <div class="single-item">
                <div class="single-item-wrapper">
                    <div class="profile-img-wrapper">
                        <a href="#" class="profile-img"><img class="profile-img-responsive img-circle" src="/static/img/homepage/profile_avtar.png" alt="Testimonial"></a>
                    </div>
                    <div class="tlp-tm-content-wrapper">
                        <h3 class="item-title"><a href="#">Jayaprakash Sahoo</a></h3>
                        <span class="item-designation">10th student</span>
                        <ul class="rating-wrapper">
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        </ul>
                        <div class="item-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet assumenda ea quam sint, aspernatur autem fugiat, culpa modi voluptatibus debitis minus vitae nisi nemo harum voluptate reiciendis neque magni nihil.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %} 

{% comment %} {% include "Frontend/include/footer.html"  %} {% endcomment %}



